@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 200;
  src: local('Cabin'), local('Cabin-Regular'), url(https://fonts.gstatic.com/s/cabin/v12/u-4x0qWljRw-Pd8w__0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body, head {
 margin: 0;
}

body {
    background-image: url(seaofstars-bygaladrielcho-2018-redraw2.png);
    padding:0;
    margin: 0;

}
header{
    width: 100%;
    background-color: rgba(35, 35, 76, 0.83);
    margin: 0;
    padding: 0;
}

header li {
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    color: #fff;
    display:inline-block;
    padding: 20px;
    margin: 0;
    font-weight: 200;
    background-color: rgba(35, 35, 76, 0.83);
}
.heading {
    margin:10px;
    background-color: rgba(35, 35, 76, 0.83)
    font-weight: 200;
    border: 5px solid #fff;

}


li button {
    color: #fff;
    background: none;
    border: none;
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    color: #fff;
    display:inline-block;
    transition: .5s ease-in-out;
    text-decoration: none;
    position: relative

}

li button:hover { 
    text-decoration: underline;
    transition: .5s;
    transform: scaleX(1);
}

li button:before {
    position: absolute;
}

h1 {
    z-index: 5;
    color:  white;
    font-family: 'Cabin', sans-serif;
    font-size: 60px;
    color: #fff;
    padding: 50px;
    text-align: center;
    width: 30%;
    margin: auto;

}
#smol {
    font-size:20px;
    padding: 20px;
    width: 15%;
    margin: auto;
    transition: .5s;
}

.bigwords {
    position: relative;
    top: 300px;
    padding: 50px;
    border: 6px solid #fff;
    background-color: rgba(35, 35, 76, 0.1);
}

p {
    display: block;
    position: absolute;
    top: 1100px;;
    color: white;
}