@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 200;
  src: local('Cabin'), local('Cabin-Regular'), url(https://fonts.gstatic.com/s/cabin/v12/u-4x0qWljRw-Pd8w__0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body, head {
 margin: 0;
}

body {
    background-image: url(seaofstars-bygaladrielcho-2018-redraw2.png);
    background-repeat: no-repeat;
    background-color: #061e09;
    padding:0;
    margin: 0;
    background-size: auto;

}
header{
    width: 100%;
    background-color: rgba(35, 35, 76, 0.5);
    margin: 0;
    padding: 0;
    position:fixed;
    top: 0;
    width:100%;
    z-index: 100;

}



header li {
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    color: #fff;
    display:inline-block;
    padding: 10px;
    margin: 0;
    font-weight: 200;
}
.heading {
    margin:10px;
    font-weight: 200;
    border: 5px solid #fff;

}


li button {
    color: #fff;
    background: none;
    border: none;
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    color: #fff;
    display:inline-block;
    transition: .5s

}

li button:hover { 
    color: #ffda77;
    border-bottom: 3px solid #ffda77;
    transform-origin: center;
    transform: scaleX(1);
}

h1 {
    z-index: 5;
    color:  white;
    font-family: 'Cabin', sans-serif;
    font-size: 60px;
    color: #fff;
    padding: 50px;
    width: 30%;
    margin: auto;

}
#smol {
    font-size:20px;
    padding: 20px;
    width: 15%;
    margin: auto;
    transition: .5s;
    text-align: center;

}

.bigwords {
    position: relative;
    top: 300px;
    padding: 50px;
    border: 6px solid #fff;
    background-color: rgba(35, 35, 76, 0.1);
    text-align: center;

}

p {
    display: block;
    position: absolute;
    top: 1100px;;
    color: white;
    font-family: 'Cabin', sans-serif;

}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin: 10px;
  vertical-align: middle;
  width: 450px;
    position: relative;
  top: 700px;;
 
}

.row {
  flex-wrap: wrap;
  padding: 100px;
}

#about-me {
    display: block;
    left: 1100px;
    font-size: 20px;
    text-align: left;
    top:1200px;
}

.am-title {
    text-align: left;
    position: relative;
    left: 405px;
    bottom: 450px;
}
